body {
  font-family: system-ui, sans-serif;

   overflow-x: hidden;
}

.card {
  border-radius: 12px;
}

button {
  border-radius: 8px;
}


/* Improve popup spacing */
@media (max-width: 576px) {
  .adsbygoogle {
    max-width: 100% !important;
  }
}